qiskit	                        # Core quantum circuit framework
qiskit-aer	                    # Fast simulator for circuits, noise models
qiskit-ibm-provider	            # Run circuits on real IBMQ devices
qiskit-optimization	            # Useful if you later explore Grover/QAOA-style problems
# qiskit-visualization	        # Plotting tools: circuit diagrams, histograms, Bloch spheres
qiskit[visualization]           # Plotting tools: circuit diagrams, histograms, Bloch spheres
qiskit-algorithms	            # Access to Shor, QFT, and VQE-type algorithms
qiskit-nature	                # Useful for quantum chemistry problems
qiskit-machine-learning	        # Useful for quantum ML problems
qiskit-experiments	            # Useful for running experiments on real devices

# qiskit-ibm-runtime	        # Useful for running jobs on real devices
# qiskit-quantum-kernel	        # Useful for quantum kernel methods
# qiskit-quantum-rank	        # Useful for quantum ranking methods
# qiskit-quantum-optimization	# Useful for quantum optimization problems

ipywidgets
matplotlib
plotly

# Other useful packages
# pennylane	                    # Hybrid quantum-classical simulation (for VQF, etc.)
# cirq	                        # Google's quantum SDK, nice for cross-compatibility
# pyquil	                    # Rigetti's quantum toolkit (good for QVM, QPU access via Forest SDK)